// ke-only
// problems that can be done without knowing about work or PE, only KE and power
// estimation problems are in a separate group
{
  "order":[
    "negativeke","bulletthroughbook",
    // easy:
    "bowling-ball-ping-pong-same-ke","throw-ball-energy-loss",
    // medium:
    "colliding-balls",
    "crash","aronskeratio","columbia",
    "astronaut","boatengine"
  ]
}
