// Gauss's law
{
  "order":[
    "gauss-uniform-sphere","gauss-thick-spherical-shell",
         "gauss-conducting-shell-with-charge-at-center","gauss-infinite-slab",
         "gauss-flat-earth",
         "solidchargedcylinder","gauss-const-e","gauss-simple-e","gauss-em-wave",
         "cylindrical-charge-given-field","gauss-exponential-charge-distribution"
  ]
}
