hafele_keating/
notes/
california_initiative/
instructor/
scripts/custom/enable

*.pdf
!share/misc/blank_page.pdf
!watermark/watermark.pdf
!difficulty*.pdf

*.aux
*.log
*.idx
*.toc
*.ilg
*.bak

*~
*/.xvpics/*
a.a
password.make
spotter.m4
*problems.csv
spotter_labels
save.ref
temp
temp.html
temp_mathml*
*.temp
*temp.tex
code_listing*
code_listings.zip
*.cmd
learned_commands.json
macros_not_handled
problems/photocredits.json
problems/clean_up.rb

figfeedback*
*.pos
*.postm4
