// multiple-unknowns
{
  "order":[
    "tugboat","atwood","crevasse",
    "pulley-table-two-blocks-sloth",
    "dogsled",
    // harder:
    "stacked-blocks",
    "wedge-yanked-away","ropeslopes","slide-uphill-with-pulley","slide-uphill-with-pulley-2",
    // should actually be with easy ones, but I didn't want to renumber:
    "block-with-two-forces-one-angled"
  ]
}
