// magnetic field
{
  "order":[
    "ebforce","righthandmodel","moveandcurve","describemotioninb","linechargecurrent",
         "forcebetweentwowires","velocityfilter","ambiguousb","ebnotpure","twowiresrepel",
         "circularorbitphoto","cyclotron","dottodot","atom","findeandb","solenoid-u-quadruple-i",
         "helmholtzcoil","wireloops","wire-box","ebexperiment",
         "nestedsolenoids","solenoid-sex","sandwich","mystery-magnet"
  ]
}
