// symbolic problems without calculus
{
  "order":[
    "triple-speed-of-soccer-ball-work","drop-laptop-and-desktop","pick-up-throw-power",
     // a little harder:
     "maserati","paper-falling-work-symbolic","ramp-slide-friction",
     "spring-game",
     "bikeloop","bikeloop-2v","pulley-table-two-blocks-energy",
     "rolling-hoop","vertical-spring-drop","skater-rolls-off-pipe",
     "rollers-on-inclined-plane"
  ]
}
