// medium
{
  "order":[
    "wheel-over-step","bar-hanging-from-ceiling","barandrope","block-topple",
    "unbalanced-meter-stick","walk-across-rod","weight-hangs-from-suspended-bar","statics-stop-light",
    "hanging-from-ropes-theta-and-2theta",
    "ladderwarmup" // keep at end so it's right before "ladder"
  ]
}
