// lenses
{
  "order":[
"camera",
"diverging-lens-image-location",
"imagelocation3",
"underwaterlens",
"refractorvsreflector",
"explainlens",
"goggles",
"funkylenses",
"eyefocallength",
"imageunderwater",
"field-of-view",
"nearsighted",
"flatworm",
"constant-thickness",
"real-image-conditions",
"eyeglasses-no-mag"
  ]
}
