// lenses
{
  "order":[
"underwaterlens",
"refractorvsreflector",
"explainlens",
"camera",
"goggles",
"funkylenses",
"eyefocallength",
"imagelocation1",
"imagelocation2",
"imagelocation3",
"imageunderwater",
"field-of-view",
"nearsighted",
"flatworm",
"binoculars",
"constant-thickness",
"real-image-conditions",
"eyeglasses-no-mag"
  ]
}
