// symbolic problems with calculus
{
  "order":[
     "magnetpe",
     "find-force-from-given-polynomial-potential",
     "find-force-and-motion-from-given-polynomial-potential",
     "find-force-and-motion-from-given-polynomial-potential-2",
     "variable-force-on-banana-work-and-power",
     "variable-force-stops-object","yukawa","railgun-friction",
     "atwood-energy",
     "sliding-oscillator",
     "norton-dome"
  ]
}
