// rigid
{
  "order":[
    // easy:
    "whitedwarf","molecules","baseball-pitch-rot-ke-easy",
    // medium:
    "jump-on-merry-go-round","disc-dropped-on-disc","stool-wheel","rolling-ratio",
    "moment-of-inertia-dumbbell","sphere-rolls-up-ramp","roll-down-without-slipping-up-with-slipping",
    "three-objects-race-down-ramp","moment-of-inertia-lab","ring-moi-about-diameter","bug-drop","bug-trap-door"
  ]
}
