// rotational-kinematics
{
  "order":[
    // constant accel equations:
    "disk-slow-easy-1",   
    "tilden-merry-go-round","pulsar-deceleration","flywheel-stopping","theta-as-a-function-of-time",
    "disk-slow-easy-2",

    // relationship between linear and angular variables:
    "earthangkinematics","bug-turntable","bug-turntable-accelerating","cockroach-in-microwave",
    "cd-spinning-nonuniform"
  ]
}
