// mirrors
{
  "order":[
"convexraytracing",
"listmirrorimages",
"telescopemovehead",
"invertedforehead",
"rays-cross-but-no-image",
"moose",
"flatmirrormagnification",
"focal-length-by-ray-tracing",
"rank-focal-lengths",
"image-combinations",
"magnificationdependsondistance",
"infinitemagnification",
"hear-your-own-whisper",
"soldier",
"range-of-magnifications",
"image-of-dropping-object",
"close-to-focal-length",
"peaucellier"
  ]
}
