// symbolic
{
  "order":[
    "skateboard-kicked-backward","tug-of-war-on-ice",
    "hockey-pucks","earthmoonke","recoil-double-speed","ice-pucks-elastic-and-inelastic",
    "ballistic-pendulum","car-truck-crash","firework-two-fragments",
    "collision-elastic-1d-general",
    "spring-explosion",
    "energy-frames","rope-over-edge","exhaust"
  ]
}
