// loop and junction rules
{
  "order":[
    "battery-and-bulb","measure-on-printed-circuit",
    "many-v-measurements","many-i-measurements","short-across-bulb","messywires",
       "toaster","stove","circuit-puzzle","threeresistors","tetrahedron",
       "extensioncord","two-batteries","switchingmethods","tricky-unlit-bulb",
       "network","junctions"
  ]
}
