// loop and junction rules
{
  "order":[
    "battery-and-bulb","measure-on-printed-circuit",
    "many-v-measurements","many-i-measurements","short-across-bulb","messy-wires",
       "toaster","stove","circuit-puzzle","threeresistors","tetrahedron",
       "extensioncord","two-batteries","two-switching-methods","tricky-unlit-bulb",
       "network","junctions","dirty-contacts"
  ]
}
