{
  "book":"problems",
  "title":"Problems in Introductory Physics",
  "url":"http://www.lightandmatter.com/problems/calc/",
  "order":[
    // intro:
    "measurement",
    // mechanics:
    "kinematics-1d","kinematics-3d","newton-1","newton-2","circular-motion",
    // conservation laws:
    "cons-energy","cons-momentum","cons-ang-mom",

    //
    "fluids","gravity","oscillations","waves",

    // electrostatics:
    "em-electrostatics-1",    "em-electrostatics-2",
    // circuits:
    "em-current-and-resistance",
    // relativity
    "relativity-basic",
    // electromagnetism
    "em-magnetism",   "em-maxwell", "em-lrc-circuits",

    // 
    "thermo","optics","relativity-more","quantum"
  ]
}
