// dynamics-symbolic
{
  "order":[
    "wagon-uphill","elevator","skier","deer","coasting-skater","skidmarks",
    // harder
    "wedge-yanked-away","ropeslopes","slide-uphill-with-pulley",

    // Brian's:
      "applied-force-below-horizontal","backpack-ramp-constant-force","blocks-sliding-tension",
  "pulley-table-two-blocks-simple","pulley-table-two-blocks-sloth","ramp-force-probe",
  "ramp-two-masses","terminal-velocity",


    // very hard
    "board-on-counterrotating-wheels"
  ]
}
