// dynamics-symbolic
// This is only for problems that are not multiple equations with multiple unknowns.
// For those that do require simultaneous unknowns, use group multiple-unknowns.
{
  "order":[

    "skaters-push-off-time",

    "wagon-uphill","elevator","skier","deer","coasting-skater","skidmarks",

    // Brian's:
      "applied-force-below-horizontal","backpack-ramp-constant-force","blocks-sliding-tension",
      "ramp-force-probe",

    "slide-uphill-optimization",

    // very hard
    "board-on-counterrotating-wheels"
  ]
}
